#header {
  height: 50px;
  background: #1d3f75;
  color: white;
}

#branding h1 {
  color: white;
}

a:link,
a:visted {
  color: #1d3f75;
}

div.breadcrumbs {
  background: #17a2b8;
}

.module h2,
.module caption,
.inline-group h2 {
  background: #17a2b8;
}

.button,
input[type=submit],
input[type=button],
.submit-row input,
a.button {
  background: #1d3f75;
  color: white;
}

/* 
div.breadcrumbs a {
  color: #666;
} */