{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock %}
{% block content %}
<section id="login" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-info text-white">
            <h4>
              <i class="fas fa-check"></i> Success</h4>
          </div>
          <div class="card-body">
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
            <h2>Password reset complete</h2>
            <p>Your new password has been reset. <a href="{% url 'login' %}" class="text-info"> Click here to login.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}